/*
Template Name: Dotapps
Author: DotThemes
URL: http://www.dotthemes.com
Version: 1.0
Desctiption: App Landing Page HTML Template.
*/


/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------
	1.0 - GLOBAL STYLES	
	2.0 - HEADER SECTION
	3.0 - BANNER SECTION
	4.0 - ABOUT SECTION 
	5.0 - FEATURE SECTION
	6.0 - SCREENSHOTS SECTION 
	7.0 - PRICING SECTION
	8.0 - TESTIMONIALS SECTION
	9.0 - VIDEO SECTION
	10.0 - DOWNLOAD SECTION
	11.0 - SUBSCRIBE SECTION 
	12.0 - SCROLL TOP SECTION
	13.0 - FOTTER SECTION
-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/


/* ==========================================================================
   1.0 - GLOBAL STYLES
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #fff176;
    color: #444;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

a img {
    background: white;
}

.odd a img {
    background: #f5f5f5;
}


/* Titles */

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    color: #555;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #666;
    font-weight: 500;
    font-size: 36px;
}


/* Paragraph & Typographic */

p {
    margin: 0;
}

.centered {
    text-align: center;
}

strong {
    font-weight: 700;
}

em {
    font-weight: 300;
}

pre {
    background: #ebebeb;
    border: none;
    font-family: "Monaco";
    font-size: 16px;
    color: #666;
    padding: 20px;
    line-height: 28px;
}

small {
    font-size: 12px;
}

blockquote,
blockquote p {
    line-height: 28px;
    color: #999;
    font-weight: 300;
    font-style: italic;
}

blockquote {
    position: relative;
    margin: 0 0 40px -30px;
    padding-left: 30px;
    border-left: 5px solid #3498db;
}

blockquote cite {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
    font-style: italic;
    color: #333;
    font-weight: 300;
}

blockquote cite:before {
    content: "-- "
}


/* Links */

a {
    overflow-wrap: break-word;
    transition: color 0.1s ease-in 0s, background 0.1s ease-in 0s;
	color:#546DFE;
}

a:hover,
a:focus {
    color: #3E5BFF;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    transition: color 0.1s ease-in 0s, background 0.1s ease-in 0s;
}

.floatleft {
    float: left
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.fn-section-header {
    margin-bottom: 50px;
}

.section-title {
    text-transform: uppercase;
}

.section-padding {
    padding: 100px 0;
}


/* COMMON CODE FOR ALL SECTION TOP BLUE COLOR
------------------------------------------- */

.common-section-blue-top {
    text-align: center;
    padding-bottom: 76px;
    max-width: 600px;
    margin: 0 auto;
}

.common-section-blue-top h2 {
    padding-bottom: 27px;
    color: #2f4cf4;
    font-weight: 600;
    text-transform: uppercase;
}

.common-section-blue-top p {
    color: #000;
}


/* COMMON CODE FOR ALL SECTION TOP WHITE COLOR
------------------------------------------- */

.common-section-white-top {
    text-align: center;
    padding-bottom: 76px;
    max-width: 600px;
    margin: 0 auto;
}

.common-section-white-top h2 {
    padding-bottom: 27px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.common-section-white-top p {
    color: #fff;
}


/* / END COMMON CODE FOR ALL SECTION TOP
------------------------------------- */


/* ==========================================
        2.0 HEADER SECTION
=========================================== */

.logo {
    padding-top: 15px;
}

.logo span {
    font-size: 30px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.navbar-default {
    background-color: #546dfe;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FBF4B5;
}

.navbar-nav > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 29px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}

.navbar-default:hover .navbar-toggle {
    background-color: #2C47DE
}

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #383bc1;
}


/* ==========================================
        3.0 BANNER SECTION
========================================== */

#banner-section {
    background: url(../img/banner.jpg);
    background-size: cover;
    padding-top: 82px;
}

.banner-mobile {
    padding-top: 83px;
    padding-bottom: 98px;
    padding-left: 60px;
}

.banner-cont {
    padding-top: 165px;
}

.banner-cont h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 42px;
    text-transform: uppercase;
}

.banner-cont p {
    color: #fff;
    max-width: 410px;
}

.banner-btn {
    padding-top: 67px;
}

.banner-btn a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 25px;
    color: #2f4cf4;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    padding: 15px;
    text-transform: uppercase;
    transition: all 0.5s linear 0s;
}

.banner-btn a:hover {
    background: #1a33bc;
    color: #fff;
    border: 1px solid #fff
}


/* ==========================================
        4.0 ABOUT SECTION
========================================== */

#about-section {
    position: relative;
}

.about-img {
    position: absolute;
    bottom: 0;
}

.about-btm-cont {
    padding-top: 20px;
}

.about-btm-cont h4 {
    padding-bottom: 17px;
    color: #000000;
    font-weight: 600;
}

.about-btm-cont p {
    padding-bottom: 40px;
    color: #000000;
}

.about-mobile-img {
    padding-left: 65px;
}

.about-pencil-img {
    position: absolute;
    right: 0;
    top: -220px;
}

.about-img {
    margin: 0 auto;
}


/* ==========================================
        5.0 FEATURE SECTION
========================================== */

#feature-section {
    background: url(../img/feature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.feature-top {
    text-align: center;
    padding-bottom: 110px;
    max-width: 600px;
    margin: 0 auto;
}

.feature-top h2 {
    padding-bottom: 27px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.feature-top p {
    color: #fff;
}

.feature-bottom {
    padding-top: 30px;
}


/* feature left start
---------------------- */


/* feature left top
---------------------- */

.feature-left-top {
    border-right: 1px solid #fff;
    max-width: 310px;
    padding-bottom: 20px;
    padding-right: 10px;
    position: absolute;
    right: -113px;
    text-align: right;
    top: -78px;
}

.feature-left-top i {
    color: #fff;
}

.feature-left-top h4 {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}

.feature-left-top p {
    color: #fff;
}


/* feature left middle
---------------------- */

.feature-left-middle {
    border-right: 1px solid #fff;
    max-width: 310px;
    padding-bottom: 20px;
    padding-right: 10px;
    position: absolute;
    left: -40px;
    text-align: right;
    top: 200px;
}

.feature-left-middle i {
    color: #fff;
}

.feature-left-middle h4 {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}

.feature-left-middle p {
    color: #fff;
}


/* feature left bottom
---------------------- */

.feature-left-bottom {
    border-right: 1px solid #fff;
    max-width: 310px;
    padding-top: 20px;
    padding-right: 10px;
    position: absolute;
    right: -113px;
    text-align: right;
    top: 480px;
}

.feature-left-bottom i {
    color: #fff;
}

.feature-left-bottom h4 {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}

.feature-left-bottom p {
    color: #fff;
}


/* feature middle mobile image
----------------------------- */

#feature-section {
    padding-bottom: 160px;
}

.feature-middle img {
    margin: 0 auto;
}

.feature-middle {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 100px 25px
}


/* feature right start
---------------------- */


/* feature right top
---------------------- */

.feature-right-top {
    border-left: 1px solid #fff;
    max-width: 310px;
    padding-bottom: 20px;
    padding-left: 10px;
    position: absolute;
    left: -113px;
    text-align: left;
    top: -77px;
}

.feature-right-top i {
    color: #fff;
}

.feature-right-top h4 {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}

.feature-right-top p {
    color: #fff;
}


/* feature right middle
---------------------- */

.feature-right-middle {
    border-left: 1px solid #fff;
    max-width: 310px;
    padding-bottom: 20px;
    padding-left: 10px;
    position: absolute;
    left: 10px;
    text-align: left;
    top: 200px;
}

.feature-right-middle i {
    color: #fff;
}

.feature-right-middle h4 {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}

.feature-right-middle p {
    color: #fff;
}


/* feature right bottom
---------------------- */

.feature-right-bottom {
    border-left: 1px solid #fff;
    max-width: 310px;
    padding-top: 20px;
    padding-left: 10px;
    position: absolute;
    left: -113px;
    text-align: left;
    top: 467px;
}

.feature-right-bottom i {
    color: #fff;
}

.feature-right-bottom h4 {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}

.feature-right-bottom p {
    color: #fff;
}


/* ==========================================
    6.0 SCREENSHOTS SECTION
========================================== */

.screenshot {
    position: relative;
}

.screenshot-all-img {
    margin-left: 15px;
}

.screenshots-top {
    text-align: center;
    padding-bottom: 125px;
    max-width: 600px;
    margin: 0 auto;
}

.screenshots-top h2 {
    padding-bottom: 27px;
    color: #2f4cf4;
    font-weight: 600;
    text-transform: uppercase;
}

.screenshots-top p {
    color: #000;
}

.screenshot-mobile-img {
    left: 39.1%;
    position: absolute;
    top: -52px;
    z-index: 1;
}

#screenshots-section .owl-pagination {
    padding-top: 70px;
}

.owl-theme .owl-controls .owl-page span:hover {
    background: #2f4cf4 none repeat scroll 0 0;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.screenshot-carousel {
    margin-left: 20px;
}


/* ==========================================
    7.0 PRICING SECTION
========================================== */

#pricing-section {
    background: url(../img/feature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pricing-bottom {
    text-align: center;
    background: #fff;
}


/* basic div
----------------- */

.basic {
    padding: 20px 0;
}

.basic a i {
    color: #ed126f;
    font-size: 20px;
    margin-right: 5px;
}

.basic a span {
    color: #ed126f;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


/* pricing value div
----------------- */

.pricing-value {
    background: #304ffe;
    padding: 20px 0;
}

.pricing-value h3 .doller {
    margin-right: 5px;
}

.pricing-value h3 {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.pricing-value p {
    font-size: 17px;
    color: #ffffff;
    padding-top: 5px;
}


/* pricing list div
----------------- */

.pricing-list {
    padding-top: 25px;
}

.pricing-list ul li i {
    margin-right: 5px;
}

.pricing-list ul li {
    padding-bottom: 20px;
}


/* pricing button div
----------------- */

.pricing-btn {
    padding-top: 25px;
    padding-bottom: 30px;
}

.pricing-btn a {
    background: #304ffe;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 25px;
}

.pricing-btn a:hover {
    background: #121E5E;
}


/* ==========================================
    8.0 TESTIMONIALS SECTION
========================================== */

.testimonial-bottom {
    text-align: center;
}

.testimonial-cont img {
    border: 7px solid #ddd;
    border-radius: 72px;
    margin: 0 auto;
    padding: 10px;
}

.testimonial-cont h3 {
    padding-top: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.testimonial-cont h4 {
    padding-bottom: 24px;
    color: #3d3d3d;
}

.testimonial-cont i {
    font-size: #3d3d3d;
    padding: 0 5px;
    color: #808080;
}

.testimonial-cont span {
    font-size: #3d3d3d;
    line-height: 24px;
}

#testimonial-section .owl-pagination {
    padding-top: 20px;
}


/* ==========================================
    9.0 VIDEO SECTION
========================================== */

#video-section {
    background: url(../img/video.jpg);
    background-size: cover;
    background-position: center;
}

.vid-section-padding {
    padding: 150px 0 170px;
}

.video-top h2 {
    padding-bottom: 20px;
}

.video-top p {
    font-size: 24px;
}

.video-play a i {
    color: #ff0000;
    font-size: 20px;
    background: #fff;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.video-play {
    margin-bottom: 0;
}


/* ==========================================
    10.0 DOWNLOAD SECTION
========================================== */

.download-bottom {
    background: #304ffe;
    width: 250px;
    border-radius: 50px;
    margin: 0 auto
}

.download-bottom:hover {
    background: #132276;
}

.download-multi {
    display: inline-block;
}

.download-multi i {
    color: #fff;
    font-size: 36px;
    margin-left: -50px;
}

.download-multi p {
    color: #fff;
    padding-left: 30px;
}

.download-multi h4 {
    color: #fff;
    font-size: 16px;
    padding-left: 30px;
    font-weight: bold;
}

.download-cont {
    border-left: 1px solid #98a7ff;
    padding: 10px 0 15px 0;
}


/* ==========================================
    11.0 SUBSCRIBE SECTION
========================================== */

#subscribe-section {
    background: url(../img/sucscribe.jpg);
    background-size: cover;
    background-position: center;
}

.form {
    position: relative;
}

#email {
    border: 1px solid #fff;
    border-radius: 35px;
    color: #222;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    width: 590px;
}

#button {
    background: #304ffe none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 35px;
    color: #fff;
    font-weight: 600;
    padding: 17px;
    position: absolute;
    right: 278px;
    text-transform: uppercase;
    top: 3px;
    width: 155px;
}

.subscribe-icon {
    padding-top: 60px;
}

.subscribe-icon a i {
    font-size: 30px;
    color: #c3ccff;
    padding: 0 12px;
}

.subscribe-icon a i:hover {
    color: #fff;
}


/* ==========================================
    12.0 SCROLL TOP SECTION
========================================== */

#scroll-top {
    background: #304ffe;
}

.scrollup {
    background: #304ffe none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    bottom: 38px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    position: fixed;
    right: 30px;
    text-align: center;
    width: 40px;
    z-index: 1;
}


/* ==========================================
    13.0 FOTTER SECTION
========================================== */

#footer-section {
    background: #546dfe;
    padding: 20px 0;
    text-align: center;
}

#footer-section a {
    color: #FBF4B5;
}

#footer-section a:hover {
    color: #dddddd;
}

.footer-cont {
    color: #fff;
    font-weight: 500;
}


/* ==========================================================================
   14.0 - BLOG
   ========================================================================== */


/* nav */

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: transparent;
}
.dropdown-menu {
	background-color: #546DFE;
	border: #546DFE;
	box-shadow: none;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #546DFE;
}
/* Breadcrumb */

.breadcrumb-container {
	background-image: url("../img/header_bg.jpg");
	color: #333333;
	font-weight: 600;
	margin-top: 80px;
	text-transform: uppercase;
	width: 100%;
}

.breadcrumb {
	background-color: transparent;
	font-size: 13px;
	margin: 0;
	padding: 50px 0;
	width: 100%;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li a {
    color: #333333;
}

.breadcrumb > li a:hover {
    color: #333333;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #333333;
    content: "/\00a0";
    font-weight: 300;
}

.breadcrumb > .active {
    color: #333333;
    font-weight: 600;
}

#main {
    padding-top: 0px;
}

.bg-white {
    padding: 48px 0;
}


/* Post */

.entry-title {
    margin-top: 0;
    color: #444;
}

h2.entry-title {
    font-size: 30px;
    line-height: 50px;
}
h2.entry-title:hover {
    color:#546DFE;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.wp-caption {
    max-width: 100%;
    position: relative;
    padding: 8px 8px 0 8px;
    margin: 10px 0 20px;
    background-color: #f9f9f9;
    border: solid 1px #e9e9e9;
    color: #555;
    text-align: center;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wp-caption.alignright {
    margin-left: 20px;
    margin-top: 2px;
}

.wp-caption.alignleft {
    margin-right: 20px;
    margin-top: 2px;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    padding: 8px 4px;
    margin: 0;
}

.gallery-caption {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    padding: 8px 4px;
    margin: 0;
}

.post_content {
    text-align: justify;
}

.post_content img {
    max-width: 100%;
}

.post_content h1 {
    text-align: left;
    margin-top: 20px;
    padding-bottom: 10px;
}

.post_content h2 {
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
}

.post_content h3 {
    text-align: left;
    padding-bottom: 10px;
}

.post_content h4 {
    text-align: left;
    padding-bottom: 10px;
}

.post_content h5 {
    text-align: left;
    padding-bottom: 10px;
}

.post_content h6 {
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post_content p {
	color: #696f6f;
	font-size: 16px;
	padding-bottom: 20px;
}

.post_content p img {
    max-width: 100%;
}

.readmore {
    margin-top: 0;
}

.post-thumbnail {
    width: 100%;
}

.post-thumbnail img {
    max-width: 100% !important;
    margin-bottom: 30px;
}

.bypostauthor {
    display: none;
}

.author {
    color: #044a67;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
}

.author i {
    color: #909090;
    margin-right: 5px;
}

.sidebar .widget {
    border: 1px solid #dedede;
    margin-bottom: 40px;
    padding: 15px;
}

.author span {
    color: #999;
}


/*sidebar box*/

.sidebar-box {
    width: 100%;
}

.sidebar-box > h3 {
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: none;
}

.sidebar-box > ul.hover-li > li {
    cursor: pointer;
}

.sidebar-box > ul.hover-li > li {
    cursor: pointer;
}

.sidebar-box > ul.hover-li > li {
    cursor: pointer;
}

.sidebar-box > ul > li {
    border-bottom: 1px solid rgba(25, 25, 26, 0.08);
    color: #777;
    display: table;
    font-size: 14px;
    margin: 15px 0;
    padding-bottom: 15px;
    width: 100%;
}

.sidebar-box > ul > li > img {
    float: left;
    height: 85px;
    overflow: hidden;
    position: relative;
    width: 95px;
}

.sidebar-box > ul > li > .wd-sidebarbox-text {
    min-height: 50px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
}

.sidebar-box > ul.hover-li > li h5 {
    color: #777;
    font-weight: 600;
    line-height: 1.5;
    transition: all 300ms linear 0ms;
}

.sidebar-box > ul.hover-li > li span {
    color: #044a67;
    font-weight: 800;
}

.sidebar-box > ul.hover-li > li p {
    color: #546DFE;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

.sidebar-box > ul.hover-li > li p i {
    padding: 7px 8px 0 0;
    vertical-align: top;
}

.more-link {
    display: none;
}

.entry-meta {
    padding-top: 15px;
}

blockquote {
    font-size: 22px;
    text-align: left;
    border-left: 4px solid #f2f1ef;
    font-style: italic;
}

.subscribe-label {
    font-weight: 400;
    font-size: 13px;
}

code {
    color: #044A67;
}

pre {
    background-color: #f9f9f9;
    border: solid 1px #e9e9e9;
    color: #555;
}

.sticky {
    background-color: #f9f9f9;
    border: solid 1px #e9e9e9;
    color: #555;
    padding: 20px 20px 10px;
}

.shotcodes {
    margin: 0;
    padding: 0;
    background: transparent;
}


/* Posts Navigation */

.pagination {
    margin: 0;
}

.posts-nav > div a {
    padding: 6px 12px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.posts-nav div a,
.pagination li a,
.pagination li span,
.pagination li.active a,
.pagination li.active span {
    display: inline-block;
    min-width: 40px;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 1px !important;
    font-size: 14px;
    line-height: 1.5;
    color: #546DFE;
    border: none;
    background-color: #F5F5F5;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -ms-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
}

.pagination li.active a,
.pagination li.active span {
    background-color: #E9E9E9;
}

.pagination .active a:hover {
    background: #546DFE;
}

.posts-nav div a:hover,
.pagination li a:hover,
.pagination li span:hover {
    border: none;
    background-color: #546DFE;
    color: #FFF;
}

.pagination > li > a,
.pagination > li > span {
    -webkit-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    -webkit-border-radius: 4px 0 0 4px !important;
    -khtml-border-radius: 4px 0 0 4px !important;
    -moz-border-radius: 4px 0 0 4px !important;
    -ms-border-radius: 4px 0 0 4px !important;
    border-radius: 4px 0 0 4px !important;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    -webkit-border-radius: 0 4px 4px 0 !important;
    -khtml-border-radius: 0 4px 4px 0 !important;
    -moz-border-radius: 0 4px 4px 0 !important;
    -ms-border-radius: 0 4px 4px 0 !important;
    border-radius: 0 4px 4px 0 !important;
}


/* Sidebar */

.sidebar {
    padding-top: 0;
    margin-top: 0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.widget {
    background: transparent;
    border: none;
    padding: 0 0 0 18px;
    margin-bottom: 35px;
    font-size: 14px;
    letter-spacing: .03em;
    list-style: none;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    line-height: 1.5;
}

.widget h2 {
    font-family: "Roboto", sans-serif;
    background: #546DFE;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #fff;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget ul li {
    margin-bottom: 8px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-bottom: solid 1px #f2f2f2;
    list-style: none;
    color: #777;
}

.widget ul li a {
    color: #444;
	font-size: 15px;
	font-weight: 700;
}

.widget ul li a:before {
    font-family: "FontAwesome";
    content: "\f105";
    margin-right: 5px;
}

.widget ul li a:hover {
    text-decoration: none;
    color: #546DFE !important;
}

.widget ul.children {
    padding: 0;
    padding-top: 7px;
    border-top: solid 1px #f2f2f2;
    margin-left: 0;
    background: transparent;
    margin: 10px 0 10px 10px;
}

.widget li span a {
    color: #777 !important;
}

.widget li span a:hover {
    text-decoration: none;
    color: #2574A9 !important;
}

.widgettitle {
    font-family: "Roboto", sans-serif;
    background: #546DFE;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #fff;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.widget_search {
    margin: 0;
    padding: 0;
}

.inputbr {
    background-color: #f1f1f1;
    margin: 10px 0;
}

.form-control,
.selectcorp,
textarea,
.inputbr {
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	box-shadow: none;
	color: #777;
	height: auto;
	min-height: 40px;
	padding: 8px 9px;
	width: 100%;
}


/* Comments */

.comment-reply-title {
    padding-bottom: 12px;
    margin-bottom: 28px;
    position: relative;
    border-bottom: solid 1px rgba(0, 0, 0, 0.07);
    color: #044A67;
    font-size: 22px;
    line-height: 30px;
    padding-top: 5px;
}

.comment-reply-title:before {
    position: absolute;
    content: "";
    height: 1px;
    background: #bdc3c7;
    width: 30%;
    max-width: 150px;
    bottom: -1px;
    left: 0;
}

.commentlist {
    padding-bottom: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.commentlist li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #676767;
    margin: 25px 0;
}

.comment,
.author-bio {
    background-color: #f6f6f6;
    padding: 20px;
    margin: 17px 0;
    overflow: hidden;
    border-bottom: solid 1px #e1e1e1;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.author-bio {
    background-color: #f9f9f9;
    border: solid 1px #e9e9e9;
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.author-bio .media-heading {
    padding-top: 0;
}

.author-bio div div ul li {
    padding-right: 0;
    margin: 20px 0;
}

.social-author {
    font-size: 20px;
    padding: 0;
}

.view-all {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.reply {
    margin: 0;
    padding: 0;
    text-align: right;
    border: 0;
}

.comments ol {
    margin: 0;
    padding: 0;
}

.comments ol li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments div h5 small {
    font-family: "Roboto", sans-serif;
}

. .comment-notes {
    font-size: 13px;
}

.form-allowed-tags {
    font-size: 12px;
}

.form-allowed-tags code {
    color: #777;
    background-color: #f7f7f7;
}

.btn {
    border-radius: 0px;
}

.btn-reply,
.comment-reply-link,
.btn-edit,
.comment-edit-link {
	background-color: #546dfe;
	background-image: none;
	border: 1px solid transparent;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.03em;
	line-height: 1.45;
	margin: 7px;
	min-width: 90px;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: background-color 0.4s ease-out 0s;
	vertical-align: middle;
	white-space: nowrap;
}

.btn-reply:hover,
.comment-reply-link:hover,
.btn-edit:hover,
.comment-edit-link:hover {
    background-color: #546DFE !important;
    text-decoration: none;
}

.btn-reply:active,
.comment-reply-link:active,
.btn-edit:active,
.comment-edit-link:active {
    background-color: #2574A9 !important;
    text-decoration: none;
}

.btn-reply:focus,
.comment-reply-link:focus,
.btn-edit:focus,
.comment-edit-link:focus {
    background-color: #546DFE !important;
    text-decoration: none;
}

.btn-reply i,
.comment-reply-link i,
.btn-edit i,
.comment-edit-link i {
    margin-right: 3px;
}

.btn-edit {
    background-color: #999;
}

.comment-edit-link {
    background-color: #999;
}

div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside ul form div {
    padding-left: 18px;
}

.entry-meta {
    margin-top: 20px;
}

.tags-links {
    margin-top: 10px;
}

.tags-links a,
.tagcloud a {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #f0f0f0;
	color: #777;
	display: inline-block;
	font-size: 10px !important;
	letter-spacing: 0.05em;
	line-height: 18px;
	margin: 0 1px 10px 0;
	max-height: 28px;
	padding: 4px 8px;
	text-transform: uppercase;
	transition: all 0.1s ease-in-out 0s;
}

.tags-links a:hover,
.tagcloud a:hover {
    background-color: #546DFE;
    border: 1px solid #546DFE;
    color: #fff;
    text-decoration: none;
}

.media-body > p.small > a {
    color: #777;
}

.small-paragraph {
    padding: 20px 0;
}

.h-underline {
    padding-top: 20px;
    padding-bottom: 10px;
}

.media-heading a {
    font-style: normal;
    color: #555;
}

.avatar img {
    max-width: 64px;
    min-width: 48px;
    margin: 0 15px 15px 0;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

ul.children {
    padding: 0;
    margin-left: 0;
    background-color: #f4f4f4;
    margin: -17px 0 17px;
}

ul.children li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.children .comment {
    padding-left: 4em;
}

#footer #wp-calendar thead th {
    background: #222;
}

#footer #wp-calendar tbody td {
    border-color: #222;
}


/* button*/

.btn-primary-corp,
.submit,
.btn-alternative-corp,
.btn-primary-corp-big {
    font-weight: 600;
    background-color: #546DFE;
    border: 0;
    color: #fff !important;
    padding: 0 15px;
    width: auto;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: .03em;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.btn-primary-corp:hover,
.submit:hover,
.btn-alternative-corp:hover,
.btn-primary-corp-big:hover {
    background-color: #0f2bcf;
    border: 0;
}

.btn-primary-corp:active,
.submit:active,
.btn-alternative-corp:active,
.btn-primary-corp-big:active {
    background-color: #EE7751;
    border: 0;
}

.btn-primary-corp:focus,
.submit:focus,
.btn-alternative-corp:focus,
.btn-primary-corp-big:focus {
    background-color: #EE7751;
    border: 0;
}

.btn-alternative-corp {
    padding: 0 17px;
    height: 42px;
    line-height: 42px;
    background-color: #2574A9;
}

.btn-primary-corp-big {
    padding: 0 26px;
    height: 48px;
    line-height: 48px;
}


/* twitter */

.widget-twitter {
    background: #1DA1F2;
    padding: 30px;
}

.widget-twitter i,
.widget-twitter p,
.widget-twitter a {
    color: #fff;
}

.chivalricblog {
    float: right;
}

.widget-meta a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.widget-meta span {
    text-transform: lowercase;
    font-style: italic;
    font-size: 14px;
}

.widget-meta a i {
    margin-right: 5px;
}

.tweet-texts {
    padding-top: 50px;
    text-align: center;
}

.tweet-texts p {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 30px;
}

.timepast {
    text-align: center;
}


/* instagram */

.widget-instagram {
    background: url(../img/instagram.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    margin: 40px 0;
    height: 300px;
}

.widget-meta a i,
.widget-meta span,
.widget-meta a {
    color: #fff;
}


/* Single Page */