@charset "utf-8";
/*----------------------------------------------------
                 Focus - CSS File
------------------------------------------------------*/

body{
	font-family:Tahoma,Arial,Verdana;
	font-size:14px;
	color:#868686;
	line-height:22px;
	padding:0px;
	margin:0px;
	background-image:url(../images/bg-glow.png);
	background-repeat:no-repeat;
	background-position:top center;	
	background-color:#cbcbcb;
}

/* links */
a, a:visited{
	color:#737373;
	text-decoration:none;
	border-bottom:1px dotted #737373;
}
a:hover{
	color:#858585; 
	text-decoration:none;
}
a img{
	border:none
}
.imgcenter{
	margin:18px auto 35px auto;
	display:block
}
.imgmiddle{
	vertical-align:middle;
	margin-right:8px;
}
.imgleft{
	float:left; 
	margin:4px 13px 12px 0px;
}
.imgright{
	float:right; 
	margin:4px 0px 12px 13px;
}
.imgborder{
	padding:14px;
	background-color:#f4f4f4;
	border:1px solid #dddddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.imgborder2{
	padding:5px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
hr {
	background-color:#dadada;
	border-width:0;
	color:#dadada;
	height:1px;
	line-height:0;
	margin:30px 0px !important;
	page-break-after:always;
	clear:both;
}
strong{color:#757575;}
.highlighttext{
	font-size:18px;
	color:#7c7c7c;
	line-height:24px;
	margin-bottom:28px;
}
.clear{clear:both;}
.center{text-align:center; margin-bottom:10px;}

/* Lists, Blockquotes and Paragraphs */
p, ul, ol{	
	margin-bottom:24px;
}
ul li{
	padding:0px 0px 0px 0px;
	line-height:22px;	
}
code {
  background: #fafafa;
  padding: 5px 10px;
  display: block;
  font-size: 12px;
  color: #7d7d7d;
  margin-bottom: 10px;
  border: 1px dotted #eaeaea; 
  clear: both;   
}
pre{ 
  clear: both; 
  font: 11px Consolas, "Andale Mono", Courier, "Courier New", monospace; 
  background: url(../images/pre_bg.gif) repeat; 
  border: 1px solid #d3d3d3;
  padding: 18px 20px 15px 20px;
  line-height: 19px;
  overflow:auto;
  overflow-Y: hidden;
  color: #555;
  margin: 0 0 20px 0;
}

/* Divider Styling */
.divider{
	width:100%;
	height:6px;
	margin:28px 0px;
	background:url(../images/divider.png) repeat-x;
	clear:both;
	display:block;
}

/* Front Tabs */
ul.tabs {
display:block;
margin-bottom:0px;
border-bottom:solid 1px #ddd;
height:46px;
list-style:none;
padding:5px 0 0 2px;
float:left;
}

ul.tabs li {
float:left;
height:46px;
}

ul.tabs li a {
display:block;
height:44px;
line-height:40px;
border-top:solid 1px #94ba65;
border-left:solid 1px #ddd;
border-right:solid 1px #ddd;
color:#7d7b7b;
background:#fafafa;
font-size:14px;
text-decoration:none;
border-width:1px 1px 0;
margin:0 0 0 -1px;
padding:0 22px;
position:relative;
z-index:100;
}

ul.tabs li.active a {
position:relative;
height:45px;
top:-2px;
padding-top:4px;
background:#fff;
border-bottom:none;
color:#7d7b7b;
position:relative;
z-index:100;
}

.tab_container {
width:99.6%!important;
margin:0px 0px 12px 1px;
border-top:none;
clear:both;
background:#fff;
border: solid 1px #ddd;
position:relative;
float:left;
}

.tab_content {
padding:25px 28px 15px;
}

.tab_content p {
font-size:14px;
line-height:24px;
padding-top:5px;
}

.tab_content img {
margin-top:8px;
float:left;
}

/* Pullquotes */
.pullquote_right,.pullquote_left{
	color:#9c9c9c;
	float:right;
	font-size:16px;
	letter-spacing:0px;
	margin-bottom:0;
	margin-top:7px;
	margin-left:20px;
	padding-left:15px;
	width:40%;
	font-weight:bold;
    font-style:italic; 
    line-height:1.4em;
    border-left:2px solid #cccccc;
}
.pullquote_left{
    border-right:2px solid #cccccc;
    border-left:none;
	float:left;
	margin-left:0px;
	margin-right:10px;
	padding-left:0;
	padding-right:15px ;
}

/* Dropcap */
.dropcap1{
	width:39px;
	height:31px;
	background-image:url(../images/circle-dropcap.png);
	background-repeat:no-repeat;	
	font-size:20px;
	color:#ffffff;
	text-align:center;
	margin:3px 5px 0px 0px;
	padding-top:8px;
	float:left;
}
.dropcap2{
	width:39px;
	height:31px;
	background-image:url(../images/square-dropcap.png);
	background-repeat:no-repeat;	
	font-size:20px;
	color:#ffffff;
	text-align:center;
	margin:3px 5px 0px 0px;
	padding-top:8px;
	float:left;
}
.dropcap3{
	font-family:Arial,Tahoma,Verdana;		
	font-size:32px;
	color:#4f4f4f;
	text-align:center;
	margin:8px 5px 0px 0px;
	padding:5px 3px 0px 0px;
	padding:4px 3px 3px 1px\0/;
	float:left;
}

/* Title Color Styling */
.title-purple{color:#770477;}
.title-black{color:#3c3c3c;}
.title-brown{color:#753b02;}
.title-pink{color:#da6371;}
.title-green{color:#84ac0a;}
.title-blue{color:#029dd8;}
.title-yellow{color:#e7a515;}
.title-red{color:#d12525;}

/* Custom Message Styling */
.info {
	margin: 15px 0;
	color: #478BBF;
	padding: 14px 10px 15px 40px;
	background: #DCEFF5 url(../images/info.png) 17px 18px no-repeat;
	border: 1px solid #B8E7F5;
} 
.success {
	margin: 15px 0;
    color:#3F9153;  
    padding: 14px 10px 15px 40px;
    background:#D7F7DF url(../images/success.png) 17px 18px no-repeat;
    border:1px solid #A3F7B8
}
.error {
    margin: 15px 0;
    color: #C24848;  
    padding: 14px 10px 15px 40px;
    background: #FFD6D6 url(../images/error.png) 17px 18px no-repeat;
    border: 1px solid #FFC2C2;
} 
.warning {
    margin: 15px 0;
    color: #CF9E00;  
    padding: 14px 10px 15px 40px;
    background: #FAF2D7 url(../images/warning.png) 17px 18px no-repeat;
    border: 1px solid #FAE8AF;
}

/* Table Style */
.table	{
	width:100%;				
	margin-bottom:20px;
	background:#f0f0f0;
}			
.table th{
	font-size:16px;
	font-weight:normal;	
	text-align:left;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	padding:10px 18px;
	color:#fff;	
	border-right:none;
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
}				
.table td {	
	font-size:14px;
	font-weight:normal;	
	text-align:left;
	padding:10px 18px;
}

.table th.txtleft,
.table td.txtleft{text-align:left;}
.table th.txtright,
.table td.txtright{text-align:right;}
.table th.txtcenter,
.table th.txtcenter{text-align:center;}

.table tr:nth-child(even){background:#ffffff;}
.table tr.odd td{color:#828282;}				
.table td{color:#828282;}


.table-black table{border:1px solid #292929;}
.table-black table tr th{background-color: #333333;}

.table-gray table{border:1px solid #525252;}
.table-gray table tr th{background-color: #666666;}

.table-white .table th {color:#666666;}
.table-white table{border:1px solid #cccccc;}
.table-white table tr th{background-color: #FFFFFF;}

.table-red table{border:1px solid #b81f1f;}
.table-red table tr th{background-color: #e62727;}

.table-orange table{border:1px solid #cc4a00;}
.table-orange table tr th{background-color: #ff5c00;}

.table-magenta table{border:1px solid #87013c;}
.table-magenta table tr th{background-color: #A9014B;}

.table-yellow table{border:1px solid #cc9111;}
.table-yellow table tr th{background-color: #ffb515;}

.table-blue table{border:1px solid #008abe;}
.table-blue table tr th{background-color: #00ADEE;}

.table-pink table{border:1px solid #b51a75;}
.table-pink table tr th{background-color: #e22092;}

.table-green table{border:1px solid #749707;}
.table-green table tr th{background-color: #91bd09;}

.table-rosy table{border:1px solid #c15663;}
.table-rosy table tr th{background-color: #F16C7C;}

.table-brown table{border:1px solid #663300;}
.table-brown table tr th{background-color: #804000;}

.table-purple table{border:1px solid #660066;}
.table-purple table tr th{background-color: #800080;}

.table-cyan table{border:1px solid #389f9f;}
.table-cyan table tr th{background-color: #46C7C7;}

.table-gold table{border:1px solid #aa8012;}
.table-gold table tr th{background-color: #D4A017;}

/* Blockquote Style */
blockquote{	
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 5px;
	font-style:italic;
	padding-left:30px;
	float:left;
}

/* List Style */
ul.circle-list li{
	line-height:18px;
	background-image:url(../images/circle.png);
	background-repeat:no-repeat;
	background-position:0px 11px;
	padding:4px 0px 4px 13px;
	margin:0px;
}
ul.check-list li{
	background-image:url(../images/checklist.png) !important;
	background-position:0px 6px;
	background-repeat:no-repeat;
	padding:0px 0px 0px 20px !important;
	line-height:24px !important;
	list-style-type:none;
}
ul.delete-list li{
	background-image:url(../images/deletelist.png) !important;
	background-position:0px 8px;
	background-repeat:no-repeat;
	padding:0px 0px 0px 20px !important;
	line-height:24px !important;
	list-style-type:none;
}
ul.arrow-list li{
	background-image:url(../images/arrow.gif);
	background-position:0px center;
	background-repeat:no-repeat;
	padding:0px 0px 0px 18px;
	line-height:24px;
	list-style-type:none;
	overflow:hidden;
}
ul.greenarrow-list li{
	background-image:url(../images/green-arrow.png) !important;
	background-position:0px 8px;
	background-repeat:no-repeat;
	padding:0px 0px 0px 20px !important;
	line-height:24px !important;
	list-style-type:none;
}
ul.star-list li{
	background-image:url(../images/star-list.png) !important;
	background-position:0px 6px;
	background-repeat:no-repeat;
	padding:0px 0px 0px 20px !important;
	line-height:24px !important;
	list-style-type:none;
}
ul.nolistblock li{
	padding:0px 0px 0px 0px !important;
	line-height:22px;
	display:inline-block;
	margin:10px 10px 0px 0px;
	background-image:none !important;
}
li.marginoff{margin-right:0px !important;}
ol li{
	list-style:decimal;
	line-height:24px;
	list-style-position:inside
}

/* Heading */
h1{font-family:Arial,Tahoma,Verdana;font-size:34px;color:#4f4f4f;margin-bottom:15px;line-height:34px;font-weight:normal;letter-spacing:-1px;}
h2{font-family:Arial,Tahoma,Verdana;font-size:30px;color:#4f4f4f;margin-bottom:15px;line-height:32px;font-weight:normal;letter-spacing:-1px;}
h3{font-family:Arial,Tahoma,Verdana;font-size:28px;color:#4f4f4f;margin-bottom:15px;line-height:30px;font-weight:normal;letter-spacing:-1px;}
h4{font-family:Arial,Tahoma,Verdana;font-size:24px;color:#4f4f4f;margin-bottom:15px;line-height:28px;font-weight:normal;letter-spacing:-1px;}
h5{font-family:Arial,Tahoma,Verdana;font-size:20px;color:#4f4f4f;margin-bottom:15px;line-height:24px;font-weight:normal;letter-spacing:-1px;}
h6{font-family:Arial,Tahoma,Verdana;font-size:18px;color:#4f4f4f;margin-bottom:15px;line-height:18px;font-weight:normal;letter-spacing:-1px;}

/* Text Styled */
.boldtext-medium{font-size:14px; font-weight:bold; color:#c6c6c6}
.boldtext-strong{font-size:22px; font-weight:bold; color:#c6c6c6}
small{font-size:11px;}

/* Tooltip */
p#vtip{
	display:none; 
	position:absolute; 
	padding:3px 12px 5px 12px; 
	left:5px;
	font-size:11px;
	background-color:#f0f0f0;
	border: 1px solid #cdcdcd;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 9999;
}

/* Normal Button Styling */
.button, .button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button {
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom:10px;
}
.button.full, .button.full span {
	display: block;
}
.button:hover, .button.hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
	text-decoration:none;
}
.button:active, .button.active {
	top:1px;
}
.button span {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:7px 22px 11px 22px;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
}

.button.small span {
	font-size:12px;
}
.button.medium span {
	font-size:15px;
}
.button.large span {
	font-size:19px;
}

.button.black {
	background-color: #333333;
}
.button.gray {
	background-color: #666666;
}
.button.white {
	background-color: #FFFFFF;
}
.button.white span{
	color: #666666;
}
.button.red {
	background-color: #e62727;
}
.button.orange {
	background-color: #ff5c00;
}
.button.magenta {
	background-color: #A9014B;
}
.button.yellow {
	background-color: #ffb515;
}
.button.blue {
	background-color: #00ADEE;
}
.button.pink {
	background-color: #e22092;
}
.button.green {
	background-color: #91bd09;
}
.button.rosy {
	background-color: #F16C7C;
}
.button.brown {
	background-color: #804000;
}
.button.purple {
	background-color: #800080;
}
.button.cyan {
	background-color: #46C7C7;
}
.button.gold {
	background-color: #D4A017;
}


/* FAQ STYLING
------------------------------------------------------*/
.ask {
cursor:pointer;
background: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
background: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
background: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
background-color: #fdfdfd;
border:1px solid #ddd;
padding:11px 15px 12px;
clear:both;
}

.question {
background-color:#fff;
border:1px solid #ddd;
margin:0 0 8px;
padding:18px 21px 1px;
position:relative;
}

.openquestion,.closedquestion {
color:#929292!important;
margin-bottom:5px;
}


/* CONTAINER
------------------------------------------------------*/
#container{
	width:900px;
	background-color:#fcfcfc;
	border-right:2px solid #aaaaaa;
	border-bottom:2px solid #aaaaaa;
	margin:65px auto 65px auto;
}
#content-slider{
	width:900px;
	margin:0px;
	float:left;
}
#page1{
	height:1100px;
	padding:60px;
	background-image:url(../images/bg-logo.png);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#272525;
	float:left;
}
#page2, #page3, #page4, #page5, 
#page6, #page7, #page8, #page9, #page10{
	padding:60px;
	background-image:url(../images/bg-logo.png);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#fdfdfd;
	float:left;
}
#table-content-wrapper{
	width:155px;
	height:250px;
	position:fixed;
	background-color:#fdfdfd;
	background-image:url(../images/shadow-table.png);
	background-position:left;
	background-repeat:repeat-y;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	margin:50px 0px 0px 900px;
	float:left;
}


/* DOCUMENTATION STYLING
------------------------------------------------------*/
#logo{
	margin:30px 0px 0px 0px;
	float:left;
}
#pre-text{
	width:700px;
	margin:70px 0px 0px 0px;
	float:left;
}
#pre-text h5{
	line-height:24px;
	color:#e7e7e7;
}
ul#table-content{
	width:143px;
	float:left;
}
#table-content li{
	width:143px;
	padding-left:12px;
	border-bottom:1px dotted #ccc;
	line-height:34px;
	font-size:12px;
	color:#565656;
	float:left;	
}
#table-content li.last{
	border-bottom:none;
}
#table-content li a, #table-content li a:visited{
	color:#565656;
	text-decoration:none;
	border:none;
}
.left-list{
	width:220px;
	float:left;
}
.left-list2{
	width:410px;
	float:left;
}
.right-list{
	padding:3px 8px;
	float:left;
}
ul.sample-bg-pattern{
	margin-bottom:30px;
	float:left;
}
.sample-bg-pattern li{
	width:110px;
	text-align:center;
	padding:14px 14px 10px 14px;
	background-color:#f4f4f4;
	border:1px solid #dddddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin:0px 18px 16px 0px;
	display:inline-block;
	float:left;
}
.sample-bg-pattern li.list-last{
	width:110px;
	text-align:center;
	padding:14px 14px 10px 14px;
	background-color:#f4f4f4;
	border:1px solid #dddddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin:0px 0px 16px 0px;
	display:inline-block;
	float:left;
}
	

/* COLUMN
------------------------------------------------------*/
.col-1{
	width:780px;
	margin-bottom:25px;
	float:left;
}
.col-2{
	width:375px;
	margin:0px 30px 25px 0px;
	float:left;
}
.col-2-2{
	width:510px;
	margin:0px 30px 25px 0px;
	float:left;
}
.col-2-2-last{
	width:510px;
	margin:0px 0px 25px 0px;
	float:left;
}
.col-2-last{
	width:375px;
	margin:0px 0px 25px 0px;
	float:left;
}
.col-3{
	width:240px;
	margin:0px 30px 25px 0px;
	float:left;
}
.col-3-last{
	width:240px;
	margin:0px 0px 25px 0px;
	float:left;
}
.col-4{
	width:172.5px;
	margin:0px 30px 25px 0px;
	float:left;
}
.col-4-last{
	width:172.5px;
	margin:0px 0px 25px 0px;
	float:left;
}


/* CODA SLIDER
------------------------------------------------------*/
.coda-slider-wrapper { padding: 0px }
.coda-slider { background: none; width:900px; }
.coda-slider-no-js .coda-slider { overflow: auto !important; padding-right: 20px }
.coda-slider, .coda-slider .panel { width: 900px; padding:0px 0px 0px 0px; } 
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 900px; padding:0px 0px; }
.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }	
	
/* Preloader */
.coda-slider p.loading { padding: 20px; text-align: center }

/* Tabbed nav */
.coda-nav ul { display:none }
.coda-nav ul li { display:none }
.coda-nav ul li a { display:none }
	
/* Miscellaneous */
.coda-slider-wrapper { clear: both; overflow: auto }
.coda-slider { float: left; overflow: hidden; position: relative }
.coda-slider .panel { display: block; float: left }
.coda-slider .panel-container { position: relative }
.coda-nav-left, .coda-nav-right { display:none }
.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	
	
